<div class="columns body is-multiline">
    <div class="column clipped-360-column is-7-tablet is-8-desktop">
        <div class="clipped-360 {{ clipping }}">
            <div id="{{ script.id }}" class="script-wrapper">
                {{ script.content }}
            </div>
            <div class="button-fullscreen" data-target="{{ script.id }}">
                <img src="./assets/images/button-fullscreen.svg" alt="">
            </div>
        </div>
    </div>
    <div class="column is-hidden-tablet">
        <h3>
            {{ subtitle }}
        </h3>
    </div>
    <div class="column text-column is-5-tablet is-4-desktop">
        <h1>{{ title }}</h1>
        <p>{{ text }}</p>
    </div>
    <div class="column is-7-tablet is-8-desktop is-hidden-mobile">
        <h3>
            {{ subtitle }}
        </h3>
    </div>
</div>