<section class="section text-clipped-image {{ background_color }} {{ section_class }}" data-background-color="{% if background_color %}{{ background_color }}{% else %}white{% endif %}">
    <div class="container is-fluid">
        {% if header %}
        <div class="columns header">
            <div class="column is-7-tablet is-offset-5-tablet is-8-desktop is-offset-4-desktop">
                <h2 data-appear class="align-clipping-left {{ class }}">{{ header }}</h2>
            </div>
        </div>
        {% endif %}
        <div class="columns body {% if header %}has-header{% endif %}  slider-wrapper">
            <div class="column text-column is-hidden-mobile is-5-tablet is-4-desktop">
                <div data-appear>
                    <h1>{{ title }}</h1>
                </div>
                <div data-appear data-appear-delay="200ms">
                    <p>{{ text }}</p>
                </div>

                <div class="slider-navbar">
                    {% for slide in slides %}
                    <div data-slider-index="{{ loop.index - 1 }}" class="slider-nav-item {% if loop.index == 1 %}is-active{% endif %}">
                        <span>0{{ loop.index }}</span>
                    </div>
                    {% endfor %} {% if slides|length
                    < 4 %} {% for spacer in 0..((4 - slides|length) - 1) %} <div class="slider-nav-spacer">
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
        <div class="column slider-column is-7-tablet is-8-desktop">
            <div class="slider {{ clipping }}">
                {% for slide in slides %}
                <div class="background-image" style="background-image: url('{{ slide.image }}')">
                    <img src="http://placehold.it/4x3" alt="" class="placeholder">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="column is-hidden-tablet">
            <div class="slider-navbar is-mobile">
                {% for slide in slides %}
                <div data-slider-index="{{ loop.index - 1 }}" class="slider-nav-item {% if loop.index == 1 %}is-active{% endif %}">
                    <span>0{{ loop.index }}</span>
                </div>
                {% endfor %} {% if slides|length
                < 4 %} {% for spacer in 0..((4 - slides|length) - 1) %} <div class="slider-nav-spacer">
            </div>
            {% endfor %} {% endif %}
        </div>
        <h1>{{ title }}</h1>
        <p>{{ text }}</p>
    </div>
    </div>
    </div>
</section>